/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import compass/reset
@import compass/css3
@import compass/css3/box-shadow
@import compass/css3/transform

body
	overflow: scroll
	// font-family: "Apple LiGothic Medium", "LiHei Pro Medium", "Microsoft JhengHei"
	font-family: "Arial"

	&.frenchstucco
		background-image: url(../img/frenchstucco.png)
	&.rockywall
		background-image: url(../img/rockywall.png)
	&.wall4
		background-image: url(../img/wall4.png)
	&.whitey
		background-image: url(../img/whitey.png)
	&.xv
		background-image: url(../img/xv.png)

.loading
	position: fixed
	background-color: #46aaa9
	// background-image: url(../img/481.gif)
	// background-repeat: no-repeat
	// background-attachment: fixed
	// background-position: center
	width: 100%
	top: 0
	bottom: 0
	z-index: 150

	img
		// display: block
		position: absolute
		top: 50%
		left: 50%
		margin-top: -64px
		margin-left: -64px
	div
		position: absolute
		top: 50%
		left: 50%
		font-size: 2em
		margin-top: 64px
		margin-left: -64px

.blend
	background-color: #46aaa9
	width: 100%
	top: 0
	bottom: 0

.button-container
	position: fixed
	margin: 10px 0 0 10px
	z-index: 200

#bg1, #bg2, #bg3, #bg4, #bg5
	// position: fixed
	z-index: 50
	top: 0
	left: 0
	width: 100%
	height: 100%
	background: url(../img/snow-blur.png) repeat 0 0

#bg2
	z-index: 49
	background-image: url(../img/snow-blur.png)

#bg3
	z-index: 48
	background-image: url(../img/snow-clear.png)

#bg4
	z-index: 47
	background-image: url(../img/snow-clear.png)

#bg5
	z-index: 46
	background-image: url(../img/snow-flake.png)

.greeting
	width: 960px
	left: 50%
	margin-left: -480px
	.title
		font-size: 5em

.board
	// position: absolute
	// background-color: orange
	width: 960px
	height: 640px
	left: 50%
	margin-top: -320px
	margin-left: -480px
	@include box-shadow(rgb(0,0,0) 1px 10px 15px)
	// margin: 0 auto
	&.wood
		background-image: url(../img/retina_wood.png)
	&.wood-stripe
		background-image: url(../img/tileable_wood_texture.png)

.location
	width: 450px
	bottom: 20px
	font-size: 6em
	color: #fff
	z-index: 120
	// @include box-shadow(rgb(0,0,0) 10px 10px 15px)

.message
	font-size: 5em
	color: #fff
	z-index: 110
	// @include box-shadow(rgb(0,0,0) 10px 10px 15px)

.photo-frame
	border-style: solid
	border-color: white
	background-color: grey
	z-index: 100
	opacity: 1
	@include box-shadow(rgb(0,0,0) 10px 10px 25px)

	&.large
		width: 600px
		height: 400px
		margin: 10px
		border-width: 20px
		@include rotate(-10deg)

	&.small
		width: 300px
		height: 200px
		// left: 600px
		margin: 5px
		border-width: 10px

	&.rightside
		left: 620px
		@include rotate(-2deg)

	&.leftside
		left: 550px
		@include rotate(4deg)

#invitation-board
	font-size: 1.5em
	display: table
	z-index: 100

	div
		margin-top: 10px

	img
		margin-right: 15px
		float: left

	.vertical-center
		// position: relative
		// top: 50%
		// height: 400px
		// margin-top: -200px
		display: table-cell
		vertical-align: middle

#invitation-form
	z-index: 100

	div
		position: relative
		top: 70px
		left: 100px

.skrollable
	position: fixed

	.skrollable
		position: absolute

// 		.skrollable
// 			position: static

// .skrollr-mobile .skrollable
// 	position: absolute