$center-width: 50%;
$sibling-width: 40%;
$sibling-rotation: 70deg;
$sibling-opacity: 0.8;

@mixin carousel-item($width, $left, $degree, $color, $zIndex:0) {
  width: $width;
  left: $left;
  transform: rotateY($degree);
  z-index: $zIndex;
  &:before {
    background-color: $color;
  }
}

@mixin carousel-right-most {
  @include carousel-item($sibling-width, 70%, -80deg, rgba(0,0,0,1));
}

@mixin carousel-right {
  @include carousel-item($sibling-width, 60%, -$sibling-rotation, rgba(0,0,0,$sibling-opacity), 10);
}

@mixin carousel-center {
  @include carousel-item($center-width, 25%, 0deg, transparent, 20);
}

@mixin carousel-left {
  @include carousel-item($sibling-width, 0, $sibling-rotation, rgba(0,0,0,$sibling-opacity), 10);
}

@mixin carousel-left-most {
  @include carousel-item($sibling-width, -10%, 80deg, rgba(0,0,0,1));
}

div#carousel {
  perspective: 1200;
  background: #100000;
  height: 500px;
  padding-top: 10%;
  font-size: 0;
  margin-bottom: 3rem;
  overflow: hidden;
}

.carousel {
  transform-style: preserve-3d;
  // height: 300px;
  .item {
    position: absolute;
    outline: 1px solid transparent;
    @include transition-property(transform, left, width, opacity);
    @include transition-duration(0.6s);

    &.right-most {
      @include carousel-right-most;
    }

    &.right {
      @include carousel-right;
    }
    &.center {
      @include carousel-center;
    }
    &.left {
      @include carousel-left;
    }
    &.left-most {
      @include carousel-left-most;
    }
    
    &.right-most-active {
      @include carousel-right-most;
    }

    &.right-active {
      @include carousel-right;
    }
    &.center-active {
      @include carousel-center;
    }
    &.left-active {
      @include carousel-left;
    }
    &.left-most-active {
      @include carousel-left-most;
    }

    &:before {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 1);
      position: absolute;
      // top: 0;
      @include transition-property(background-color);
      @include transition-duration(0.6s);
    }

    img {
      width: 100%
    }
  }
}

// div#carousel ~ span {
//   color: #fff;
//   margin: 5%;
//   display: inline-block;
//   text-decoration: none;
//   font-size: 2rem;
//   transition: 0.6s color;
//   position: relative;
//   margin-top: -6rem;
//   border-bottom: none;
//   line-height: 0;
//   &:hover {
//     color: #888;
//     cursor: pointer;
//   }
// }

// @keyframes moveToLeft{
//   from {
//     transform: rotateY(0deg); 
//     left: 30%;
//   }
//   to {
//     transform: rotateY(45deg);
//     left: -10%;
//   } 
// }